# Abra Environment Configurations

# Notion Integration Keys
NOTION_TOKEN="your_notion_integration_secret"
NOTION_DIARY_DB_ID="your_diary_database_id"
NOTION_TASKS_DB_ID="your_todo_database_id"
NOTION_BRAIN_PAGE_ID="your_brain_parent_page_id"

# Chess.com configuration
CHESSCOM_USERNAME="photon079"

# LLM Providers (Choose "gemini" or "groq")
LLM_PROVIDER="gemini"
GEMINI_API_KEY="your_gemini_api_key"
GROQ_API_KEY="your_groq_api_key"

# Google OAuth Access Token (For Calendar spec calls)
GOOGLE_CALENDAR_ACCESS_TOKEN="your_google_access_token"
